<!-- <div class="md-card md-card-single main-print" id="invoice" single-card>
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text large" id="invoice_name">
            Albums
        </h3>
    </div>
    <div class="md-card-content">
        <p class="uk-text-center uk-text-large uk-margin-large-top">
            Click the <a ui-sref="restricted.pages.invoices.add" class="uk-badge uk-badge-success"><strong>+</strong></a> button to create a new album<br>
            <span class="uk-text-muted">or</span><br>
            open album from the list.
        </p>
    </div>
</div>
 -->
<div class="md-card md-card-single main-print" id="invoice" single-card>
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text large" id="invoice_name">
            Albums
        </h3>
    </div>
    <div class="md-card-content">
        <p class="uk-text-center uk-text-large uk-margin-large-top">
            <span translate="Album.New_Album.Click_the"></span><a ui-sref="restricted.pages.invoices.add" class="uk-badge uk-badge-success"><strong>+</strong></a> <span translate="Album.New_Album.button_to"></span><br>
            <span class="uk-text-muted"><span translate="Album.New_Album.or">or</span></span><br><span translate="Album.New_Album.open_album"></span>
        </p>
    </div>
</div>