<div id="page_content">
    <div id="page_heading">
        <h1>{{product.title}}</h1>
        <span class="uk-text-muted uk-text-upper uk-text-small"></span>
    </div>
    <div id="page_content_inner">

        <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
            <div class="uk-width-xLarge-2-10 uk-width-large-3-10">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text" translate="Comment_Setting.Comment_Edit.Photos"></h3>
                    </div>
                    <div class="md-card-content">
                        <div class="uk-margin-bottom uk-text-center">
                            <img ng-src="{{product.url}}" alt="" class="img_medium" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-xLarge-8-10  uk-width-large-7-10">
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <h3 class="md-card-toolbar-heading-text" translate="Comment_Setting.Comment_Edit.Details">
                        </h3>
                    </div>
                    <div class="md-card-content large-padding">
                        <div class="uk-grid uk-grid-divider uk-grid-medium">
                            <div class="uk-width-large-1-2">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-large-1-3">
                                        <span class="uk-text-muted uk-text-small" translate="Comment_Setting.Comment_Edit.User_Name"></span>
                                    </div>
                                    <div class="uk-width-large-2-3">
                                        <span class="uk-text-large uk-text-middle"><a href="#">{{product.name}}</a></span>
                                    </div>
                                </div>
                                <hr class="uk-grid-divider">
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-large-1-3">
                                        <span class="uk-text-muted uk-text-small" translate="Comment_Setting.Comment_Edit.DateTime"></span>
                                    </div>
                                    <div class="uk-width-large-2-3">
                                        <span class="uk-text-large uk-text-middle">{{product.dateTime}}</span>
                                    </div>
                                </div>
                                <hr class="uk-grid-divider uk-hidden-large">
                            </div>
                            <div class="uk-width-large-1-2">
<!--                                 <p>
                                    <span class="uk-text-muted uk-text-small uk-display-block uk-margin-small-bottom">Tags</span>
                                    <span class="uk-badge uk-margin-small-right" ng-class="{'uk-badge-success': $index != 1, 'uk-badge-primary': $index == 1}" ng-repeat="tag in product.tags">{{tag}}</span>
                                </p>
 -->                                <hr class="uk-grid-divider">
                                <p>
                                    <span class="uk-text-muted uk-text-small uk-display-block uk-margin-small-bottom" translate="Comment_Setting.Comment_Edit.Comment"></span>
                                    <textarea class="md-input" name="product_edit_description_control" id="product_edit_description_control" cols="30" rows="4" ng-model="product.content" md-input textarea-autosize></textarea>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-text-center uk-margin-medium-top uk-margin-bottom">
            <a class="md-btn md-btn-flat md-btn-flat-primary" ng-click="saveComment()">Save</a>
        </div>
    </div>

</div>

